<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ewriter.art_chapter2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.ryg.chapter_2.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.ryg.PROVIDER"
        android:protectionLevel="normal" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:process=":remote" />
        <activity
            android:name=".ThirdActivity"
            android:process="me.ewriter.art_chapter2.remote" />

        <service
            android:name=".aidl.BookManagerService"
            android:process=":remote" />
        <service
            android:name=".messenger.MessengerService"
            android:process=":remote" />

        <activity android:name=".messenger.MessengerActivity" />
        <activity android:name=".aidl.BookManagerActivity" />

        <provider
            android:name=".provider.BookProvider"
            android:authorities="me.ewriter.art_chapter2.provider"
            android:permission="com.ryg.PROVIDER"
            android:process=":provider" />

        <activity android:name=".provider.ProviderActivity" />
        <activity android:name=".socket.TCPClientActivity"></activity>

        <service
            android:name=".socket.TCPServerService"
            android:process=":remote"/>
    </application>

</manifest>