<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ewriter.chapter12">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".palette.PaletteActivity" />
        <activity android:name=".activityTrans.AActivity" />
        <activity android:name=".activityTrans.BActivity" />
        <activity android:name=".circleReveral.CircleReveralActivity" />
        <activity android:name=".animatedSelector.AnimatedSelectorActivity" />
        <activity android:name=".notification.NotificationActivity"></activity>
    </application>

</manifest>